[submodule "buddy"]
	path = buddy
	url = https://github.com/utwente-fmt/buddy.git
[submodule "spins"]
	path = spins
	url = https://github.com/utwente-fmt/spins.git
[submodule "ltl2ba"]
	path = ltl2ba
	url = http://fmt.cs.utwente.nl/tools/scm/ltl2ba.git
[submodule "sylvan"]
	path = sylvan
	url = https://github.com/utwente-fmt/sylvan.git
[submodule "scoop"]
	path = scoop
	url = https://github.com/utwente-fmt/scoop.git
[submodule "prob_link_library"]
	path = prob_link_library
	url = git@github.com:lordqwerty/prob_link_library.git
